<% include ./partials/header %>
<div class="container">
    <h1>Login</h1>
    <div class="container">

        <form action="/admin/login" method="POST" class="form-inline">
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" placeholder="username" name="username" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password </label>
                <input type="password" placeholder="password" name="password" id="password">
            </div>
            <button class="btn btn-default" type="submit" value="Submit">Submit</button>
        </form>
    </div>
    <div class="container">
        <ul class="list-group">
            <!-- <li class="list-group-item"><a class="btn" href="/logout">Logout</a></li> -->
        </ul>

    </div>
</div>

<% include ./partials/footer %>
