<h1>Hello</h1>

<p>You are now logged in. You get redirected to this page from the home template upon a successful authentication. 



</p>

<li><a href="/logout">Logout</a></li>

<img src="http://i3.kym-cdn.com/photos/images/original/000/054/587/keanu-eagle.jpg" alt="sad keanu on an eagle"><img>